VITE_API_URL=
VITE_SOCKET_URL=
VITE_FALLBACK_BACKEND_URL=https://yoon-wi.onrender.com
VITE_GOOGLE_MAPS_API_KEY=votre_cle_api_google_maps
VITE_MAPBOX_TOKEN=votre_token_mapbox
VITE_MAPBOX_STYLE=mapbox/navigation-day-v1
